// reset
@import "base/reset";
// mixin
@import "mixin/mixin";
// base
@import "base/font";
@import "base/color";

// component
@import "component/btn";
@import "component/glass";

// layout
@import "layout/header";
@import "layout/footer";
@import "layout/slide";
@import "layout/carousel";
@import "layout/navigation";

// animation
@import "animation/animation";
// page
@import "page/index";

* {
  // outline: 1px solid red;
}

body {
  background: url(../images/brushed-alum.png), #ffffff;
  color: $f_b;
}

h2,
h3 {
  color: $f_blue;
}

a {
  color: $f_blue;
}
