<footer>
  <div class="footer_nav">
    <ul>
      <h4>關於煥顏</h4>
      <li>品牌理念</li>
      <li>設施環境</li>
      <li>門診表</li>
      <li>交通資訊</li>
    </ul>

    <ul>
      <h4>醫師團隊</h4>
      <li>傑瑞德·泰勒 院長</li>
      <li>傑瑞德 副院長</li>
      <li>泰勒 顧問</li>
    </ul>

    <ul>
      <h4>服務項目</h4>
      <li>矽谷電波</li>
      <li>皮秒雷射</li>
      <li>高壓氧艙</li>
      <li>雙眼皮手術</li>
      <li>拉皮手術</li>
      <li>線雕拉提</li>
    </ul>

    <ul>
      <h4>醫師動態</h4>
      <li>最新消息</li>
      <li>學術演講</li>
    </ul>

    <ul>
      <h4>聯絡我們</h4>
    </ul>
  </div>
  <div class="footer_logo_social">
    <img class="footer_logo" src="../images/logo_L.png" alt="LOGO" />
    <div class="footer_social">
      <img src="../images/Facebook.png" alt="" />
      <img src="../images/Instagram.png" alt="" />
      <img src="../images/Youtube.png" alt="" />
    </div>
  </div>
  <div class="footer_contact">
    <h4>臺北市中山區新生北路二段33巷9號</h4>
    <h4>Mon-Fri 11:00 – 19:00</h4>
    <h4>+886-2-2581-2525</h4>
  </div>
  <div class="footer_partner">
    <div class="glass">
      <img src="../images/partner1.png" />
      <img src="../images/partner2.png" />
      <img src="../images/partner3.png" />
    </div>
  </div>
  <div class="footer_copyright">
    <p>Copyright © 2023</p>
  </div>
</footer>
