<nav class="nav">
  <div class="nav_top">
    <img src="../images/nav_Facebook.png" alt="" />
    <img src="../images/nav_Instagram.png" alt="" />
    <img src="../images/nav_Youtube.png" alt="" />
    <div>
      <img src="../images/nav_Close.png" alt="" />
    </div>
  </div>
  <div class="nav_mid">
    <ul>
      <li>
        <a href="#"><h3>關於我們</h3> </a>
      </li>
      <li>
        <a href="#"><h3>服務介紹</h3> </a>
        <ul>
          <li><a href="#">矽谷電波</a></li>
          <li><a href="#">皮秒雷射</a></li>
          <li><a href="#">高壓氧艙</a></li>
          <li><a href="#">雙眼皮手術</a></li>
          <li><a href="#">拉皮手術</a></li>
          <li><a href="#">線雕拉提</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><h3>專業團隊</h3> </a>
        <ul>
          <li><a href="#">傑瑞德·泰勒 院長</a></li>
          <li><a href="#">傑瑞德 副院長</a></li>
          <li><a href="#">泰勒 顧問</a></li>
        </ul>
      </li>
      <li>
        <a href="#"><h3>醫師動態</h3> </a>
      </li>
      <li>
        <a href="#"><h3>預約諮詢</h3> </a>
      </li>
    </ul>
  </div>
  <div class="nav_last">
    <img class="nav_logo" src="../images/logo_L.png" alt="" />
    <div class="nav_location">
      <img src="../images/nav_location.png" alt="" />
      <h4>100台北市中正區重慶南路一段122號</h4>
    </div>
    <div class="nav_address">
      <img src="../images/nav_Call.png" alt="" />
      <h4>(02) 2345 6789</h4>
    </div>
    <div class="nav_serviceTime">
      <img src="../images/nav_user.png" alt="" />
      <h4>10:00-6:00 CST, M-F</h4>
    </div>
  </div>
</nav>
