.clip {
  line-height: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // bg-image:url{背景圖來源}
}

.banner1 {
  background-image: url(./../images/home1.jpg);
  background-size: cover;

  .glass {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 630px;
    height: 750px;

    position: relative;
  }

  .clip {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    background-image: url(../../images/home1.jpg);
    opacity: 0.5;
  }

  .container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;

    a {
      color: $f_blue;
      margin-top: 21px;
      margin-bottom: 116px;
    }

    h4 {
      margin-top: 21px;
    }
  }

  .special {
    position: relative;
    right: -55%;
    display: flex;
    line-height: 1;
    color: $f_w;
  }
}

.banner2 {
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 150px;

  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
}

.blue_line {
  width: 360px;
  height: 2px;
  margin: 0 auto;
  margin-top: 150px;
  background-color: $f_blue;
}

.banner3 {
  margin-top: 150px;
  text-align: center;
  position: relative;
}
.banner4 {
}
.banner5 {
}
.banner6 {
}
