$f_blue: #234173; // 強調色
$f_b: #434343; // 黑字
$f_w: #ffffff; // 白字

// 霧面 亮
$g_1: (rgba(255, 255, 255, 0.1) 10%, rgba(255, 255, 255, 0.1) 10%);
$g_2: (rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.2) 20%);
$g_3: (rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.3) 30%);
$g_4: (rgba(255, 255, 255, 0.4) 40%, rgba(255, 255, 255, 0.4) 40%);
$g_5: (rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 50%);
$g_6: (rgba(255, 255, 255, 0.6) 60%, rgba(255, 255, 255, 0.6) 60%);
$g_7: (rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.7) 70%);
$g_8: (rgba(255, 255, 255, 0.8) 80%, rgba(255, 255, 255, 0.8) 80%);
$g_9: (rgba(255, 255, 255, 0.9) 90%, rgba(255, 255, 255, 0.9) 90%);

// 霧面 暗
$g_b1: (rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.1) 10%);
$g_b2: (rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.2) 20%);
$g_b3: (rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.3) 30%);
$g_b4: (rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.4) 40%);
$g_b5: (rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%);
$g_b6: (rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.6) 60%);
$g_b7: (rgba(0, 0, 0, 0.7) 70%, rgba(0, 0, 0, 0.7) 70%);
$g_b8: (rgba(0, 0, 0, 0.8) 80%, rgba(0, 0, 0, 0.8) 80%);
$g_b9: (rgba(0, 0, 0, 0.9) 90%, rgba(0, 0, 0, 0.9) 90%);
