body {
  font-family: "jf-openhuninn-1.1";
  font-style: normal;
  letter-spacing: 0.2em;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  line-height: 140%;
}

/* 超大標 96 */
h1 {
  font-size: 96px;
}

/* 大標 32 */
h2 {
  font-size: 32px;
}

/* 小標 24 */
h3 {
  font-size: 24px;
}

/* 一般小字 */
h4 {
  font-size: 16px;
}

a {
  text-decoration: none;
}
